@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/pizza.png") no-repeat center center/cover;
}
.hero-title {
  font-size: 5rem;
  line-height: 5rem;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1rem 0;
  color: #bf0426;
  text-shadow: -3px -3px 0 #ddd, 3px -3px 0 #ddd, -3px 3px 0 #ddd,
    3px 3px 0 #ddd, -3px 0 0 #ddd, 3px 0 0 #ddd, 0 -3px 0 #ddd, 0 3px 0 #ddd;
  transform: perspective(500px) rotateX(25deg);
  transform-origin: center bottom;
  display: inline-block;
}
.hero-subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
  padding: 0 1rem;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.hero-btn {
  margin-top: 4rem;
  display: flex;
  position: relative;
  font-size: 1.2em;
  padding: 0.9em 1.8em;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  background-color: #bf0426;
  color: #fff;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
}

.hero-btn::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    rgba(150, 4, 31, 1) 0%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.hero-btn:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.hero-btn:hover {
  color: #dedede;
  clip-path: polygon(1.6em 0, 100% 0, 100% 100%, 0 100%, 0 1.6em);
  /* transform: translate(0.1em, 0.1em); */
}

.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transform: translate(0.5em, 0.5em);
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  z-index: -1;
  pointer-events: none;
}

button:active {
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
